* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-radius: 5px;
    --main-padding: 20px;
    --primary-color: slategray;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.2fr 1.5fr .2fr;
    grid-template-areas: "nav nav nav nav" 
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-gap: .2rem;
    font-weight: lighter;
    text-transform: uppercase;
}
nav {
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-color: var(--primary-color);
}
nav h1 {
    font-size: 1.55vw;
    font-weight: lighter;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav a {
    text-decoration: none;
    color: #000000;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li a {
    padding: 0 20px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
nav ul li a:hover {
    border-radius: 15px;
    text-shadow: none;
}
main {
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
}
#sidebar {
    background-color: var(--primary-color);
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#sidebar nav ul {
    list-style: none;
    
}

#sidebar nav ul li a {
    
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: block;
}
#sidebar nav ul li a:hover {
    border-radius: 15px;
    text-shadow: none;
}
#content1 {
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content2 {
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content3 {
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
h2 {
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
footer {
    grid-area: footer;
    font-size: 1.25vw;
    background-color: var(--primary-color);
}
.section-title {
    font-size: 28px;
    font-weight: lighter;
    color: #000000;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
a {
    text-decoration: none;
    color: #000000;
}
@media only screen and (max-width:600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1.4fr 1.4fr 2.2fr 2.2fr 2.2fr 2.2fr 2fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
    #content1 {
        align-content: center;
    }
    #content2 {
        align-content: center;
    }
    #content3 {
        align-content: center;
    }
    footer {
        text-align: center;
    }
    footer nav ul li {
        text-align: center;
    }
}
@media only screen and (max-width:500px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr .04fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
    footer {
        text-align: center;
    }
    footer nav ul li {
        text-align: center;
    }
}
