* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 20px 40px;
    margin: 20px 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-size: 1.55vw;
    font-weight: lighter;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: #000000;
}

header nav {
    margin: 0;
    /* changed from 7px 0 */
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 0 20px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    border-radius: 15px;
    text-shadow: none;
}
section {
    padding: 60px;
}
.section-title {
    font-size: 28px;
    font-weight: lighter;
    color: #000000;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.about {
    text-align: center;
}
.about p {
    text-align: center;
}
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.project1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.project2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.contact {

}
